@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
	font-family: "Open Sans";
	margin: 0;
	padding: 0;
	background-color: #ffde8c;
}

header nav ul
{
	float: right;
	margin-top: 25px;
	margin-right: 300px;
	font-size: 25px;
} 

nav .active
{
	text-decoration: underline;
	color: #f49f27;
}
nav li
{
	list-style-type: none;
	display: inline;
	margin-left: 25px;
}

nav a 
{
	color: #ffffff;
	text-decoration: none;
}

nav a:hover
{
	color: #f49f27;
	text-decoration: underline;
	transition: all 0.3s ease-in;
}

#surfaces img
{
	height: 100%;
	width: 100%;
	border-radius: 150px;
	object-fit: cover;
}

#missions img
{
	height: 100%;
	width: 100%;
	border-radius: 150px;
	object-fit: cover;
}

#atmosphere img
{
	height: 100%;
	width: 100%;
	border-radius: 150px;
	object-fit: cover;
}

#category
{
	background-image: url('images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#category h2
{
	color: #ffffff;
	font-size: 32px;
	margin: 0;
	padding: 40px;
	width:30%;
	text-align: center;
	font-weight: bold;
}

.container
{
	margin: auto;
}

.container h3
{
	width:100%;
	text-align: center;
	color: #ff0000;
	text-decoration: underline;
	font-size: 28px;
}

#logo img
{
	height: 200px;
	width:300px;
	object-fit: contain;
	margin-top: -130px;
	float: right;
}

#surfaces
{
	border: groove 2px;
	border-radius: 150px;
	height: 300px;
	width: 300px;
	margin-left: 60px;
	margin-top: 30px;
}

#missions
{
	border: inset 2px;
	border-radius: 150px;
	height: 300px;
	width: 300px;
	float: right;
	margin-right: 100px;
	margin-top: -300px;
}

#atmosphere
{
	border: outset 2px;
	border-radius: 150px;
	height: 300px;
	width: 300px;
	margin-left: 500px;
	margin-top: -140px;
}

.hovereffect 
{
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: blur(2px);
  transform: scale(1.2);
}

.hovereffect h4 {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 17px;
  background: transparent;
}

.hovereffect a
{
	color: #000000;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  color: #fff;
  margin: 190px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;

}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 30%;
	float: left;
	margin-top: 10px;
	margin-left: 3%;
	height: auto;
}
.hvrbox img {
	width: 100%;
	height: 300px;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}

.hvrbox .hvrbox-text {
	font-size: 18px;
	text-align: center;
	display: inline-block;
	position: absolute;
	width: 96%;
	padding-right: 2%;
	padding-left: 2%;
	top:60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-title
{
	text-align: center;
	font-size: 22px;
	text-decoration: underline;
	display: inline-block;
	position: absolute;
	width: 100%;
	margin-top:-50px;
	left: 0;
}

.hvrbox .hvrbox-text_mobile 
{
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}

.hvrbox.active .hvrbox-text_mobile 
{
	display: block;
}
.foot
{
    position: absolute;
    top: 440%;
    height:280px;
    width: 100%;
    /* background: url(../); */
    /* background-size: 100% 100%; */
    color: #fff;
    font-size: 15px;
}
.foot img
{
    position: absolute;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: brightness(30%);
}
.foot i
{
    color: #ccc;
}
.footer
{
    position: absolute;
    top: 475%;
    text-align: center;
    background: #4f4e4e;
    width: 100%;
    height: 50px;
}
.footer p
{
    margin-top: 12px;
    float: left;
    color: #fff
}
.icon
{
    margin-top: 10px; 
    float: right;
    font-size: 30px;
    padding-left: 1%;
    padding-right: 1%;
    color: #ccc;
}
.icon:hover
{
    color:#fff;
}
.foot h2
{
    color: #ccc;
}
.fcontainer
{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}
.fdiv
{
    margin-top: 2%;
    margin-left: 5%;
    width: 50%;
    float: left;
}
.fdiv2
{
    margin-top: 2%;
    margin-left: 5%;
    width: 30%;
    float: left;
}
/*Media Queries*/

@media (max-width: 1340px)
{
	#category
	{
		background-color: #000000;
		background-image: none;
		padding-bottom: 80px;
	}

	#surfaces img
	{
		height: 100%;
		border-radius: 0;
		width: 100%;
		object-fit: cover;
	}

	#missions img
	{
		height: 100%;
		border-radius: 0;
		width: 100%;
		object-fit: cover;
	}

	#atmosphere img
	{
		height: 100%;
		border-radius: 0;
		width: 100%;
		object-fit: cover;
	}	

	#surfaces
	{
		border: groove 2px;
		border-radius: 0;
		height: 300px;
		width: 30%;
		display: inline-block;
		margin-top: 0;
		margin-left: 2%;
	}

	#missions
	{
		border: inset 2px;
		border-radius: 0;
		height: 300px;
		width: 30%;
		float: none;
		display: inline-block;
		margin-top: 0;		
		margin-left: 2%;
	}

	#atmosphere
	{
		border: outset 2px;
		height: 300px;
		border-radius: 0;
		width: 30%;
		display: inline-block;
		margin-top: -310px;
		float: right;
		margin-left: 2%;
		margin-right: 2%;
	}
}


@media (max-width: 1100px)
{
	header nav ul
	{
		float: right;
		margin-top: 25px;
		margin-right: 230px;
		font-size: 25px;
	} 

	nav .active
	{
		text-decoration: underline;
		color: #f49f27;
	}
	nav li
	{
		list-style-type: none;
		display: inline;
		margin-left: 25px;
	}

	nav a 
	{
		color: #ffffff;
		text-decoration: none;
	}

	nav a:hover
	{
		color: #f49f27;
		text-decoration: underline;
		transition: all 0.3s ease-in;
	}

	.hvrbox,
	.hvrbox * 
	{
		box-sizing: border-box;
	}
	.hvrbox 
	{
		position: relative;
		display: inline-block;
		overflow: hidden;
		width: 42%;
		float: left;
		margin-top: 10px;
		margin-left: 4%;
		margin-right: 4%;
		height: auto;
	}
	.hvrbox img 
	{
		width: 100%;
		height: 300px;
	}

	.hvrbox .hvrbox-text {
	font-size: 16px;
	text-align: center;
	display: inline-block;
	position: absolute;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

	.hvrbox .hvrbox-title
	{
		text-align: center;
		font-size: 20px;
		text-decoration: underline;
		display: inline-block;
		position: absolute;
		width: 100%;
		top:-40%;
		left: 0;
	}
	.foot
	{
		top: 549%;
	}
	.footer
	{
		top: 582%;
	}
}

@media (max-width: 900px)
{
	header nav ul
	{
		float: right;
		margin-top: 25px;
		margin-right: 230px;
		margin-left: 25px;
		font-size: 25px;
	} 

	nav .active
	{
		text-decoration: underline;
		color: #f49f27;
	}
	nav li
	{
		list-style-type: none;
		display: inline;
		margin-left: 25px;
	}

	nav a 
	{
		color: #ffffff;
		text-decoration: none;
	}

	nav a:hover
	{
		color: #f49f27;
		text-decoration: underline;
		transition: all 0.3s ease-in;
	}

	#category
	{
		background-color: #000000;
		background-image: none;
		padding-bottom: 80px;
		height: 100%;
	}

	#surfaces img
	{
		height: 100%;
		border-radius: 0;
		width: 100%;
		object-fit: cover;
	}

	#missions img
	{
		height: 100%;
		border-radius: 0;
		width: 100%;
		object-fit: cover;
	}

	#atmosphere img
	{
		height: 100%;
		border-radius: 0;
		width: 100%;
		object-fit: cover;
	}	

	#surfaces
	{
		border: groove 2px;
		border-radius: 0;
		height: 300px;
		width: 45%;
		display: inline-block;
		margin-top: 0;
		margin-left: 2%;
	}

	#missions
	{
		border: inset 2px;
		border-radius: 0;
		height: 300px;
		width: 45%;
		float: none;
		display: inline-block;
		margin-top: 0;		
		margin-left: 2%;
	}

	#atmosphere
	{
		border: outset 2px;
		height: 300px;
		border-radius: 0;
		width: 45%;
		display: inline-block;
		margin-top: -620px;
		float: right;
		margin-left: 2%;
		margin-right: 2%;
	}	

	.hvrbox .hvrbox-text {
	font-size: 16px;
	text-align: center;
	display: inline-block;
	position: absolute;
	width: 96%;
	padding-right: 2%;
	padding-left: 2%;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

	.hvrbox .hvrbox-title
	{
		text-align: center;
		font-size: 20px;
		text-decoration: underline;
		display: inline-block;
		position: absolute;
		width: 100%;
		top:-40%;
		left: 0;
	}
}
@media (max-width: 600px)
{
.foot
{
	display:none;
}
.footer
{
	display:none;
}
}
@media (max-width: 480px)
{
	#category
	{
		background-color: #000000;
		background-image: none;
		padding-bottom: 80px;
		height: 100%;
	}

	#surfaces img
	{
		height: 100%;
		border-radius: 0;
		width: 100%;
		object-fit: cover;
	}

	#missions img
	{
		height: 100%;
		border-radius: 0;
		width: 100%;
		object-fit: cover;
	}

	#atmosphere img
	{
		height: 100%;
		border-radius: 0;
		width: 100%;
		object-fit: cover;
	}	

	#surfaces
	{
		border: groove 2px;
		border-radius: 0;
		height: 300px;
		width: 90%;
		display: inline-block;
		margin-top: 0;
		margin-left: 3%;
		margin-right: 3%;
	}

	#missions
	{
		border: inset 2px;
		border-radius: 0;
		height: 300px;
		width: 90%;
		float: none;
		display: inline-block;
		margin-top: 0;		
		margin-left: 3%;
		margin-right: 3%;
	}

	#atmosphere
	{
		border: outset 2px;
		height: 300px;
		border-radius: 0;
		width: 90%;
		display: inline-block;
		float: none;
		margin-top: 2px;
		margin-left: 3%;
		margin-right: 3%;
	}		

	.hvrbox,
	.hvrbox * 
	{
		box-sizing: border-box;
	}
	.hvrbox 
	{
		position: relative;
		display: inline-block;
		overflow: hidden;
		width: 90%;
		float: left;
		font-size: 10px;
		margin-top: 10px;
		margin-left: 4%;
		margin-right: 4%;
		height: auto;
	}
	.hvrbox img 
	{
		width: 100%;
		height: 300px;
	}

	.hvrbox .hvrbox-text {
	font-size: 14px;
	text-align: center;
	display: inline-block;
	position: absolute;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

	.hvrbox .hvrbox-title
	{
		text-align: center;
		font-size: 18px;
		text-decoration: underline;
		display: inline-block;
		position: absolute;
		width: 100%;
		top:-40%;
		left: 0;
	}
	.fdiv
	{
		margin-top: 1%;
		margin-left: 3%;
		width: 94%;
		font-size: 15px;
	}
	.fdiv2
	{
		margin-top: 0%;
		margin-left: 3%;
		width: 30%;
		font-size: 16px;
	}
	.foot
	{
		display:none;
	}
	.foot img
	{
		opacity: 0;
	}
	.footer
	{
		display:none;
	}


}

@media (max-width: 420px)
{
	header nav ul
	{
		float: left;
		margin-top: 25px;
		margin-left: -20px;
		font-size: 25px;
	} 

	nav .active
	{
		text-decoration: underline;
		color: #f49f27;
	}
	nav li
	{
		list-style-type: none;
		display: block;
	}

	nav a 
	{
		color: #ffffff;
		text-decoration: none;
	}

	nav a:hover
	{
		color: #f49f27;
		text-decoration: underline;
		transition: all 0.3s ease-in;
	}

	.hvrbox .hvrbox-text {
	font-size: 10px;
	text-align: center;
	display: inline-block;
	position: absolute;
	width: 96%;
	top:50%;
	left: 50%;
	padding-right: 2%;
	padding-left: 2%;
	transform: translate(-50%, -50%);
	}

	.hvrbox .hvrbox-title
	{
		text-align: center;
		font-size: 16px;
		text-decoration: underline;
		display: inline-block;
		position: absolute;
		width: 100%;
		top:-10px;
		left: 0;
	}

}
